name: Deploy release

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy_release_protocol:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: c-hive/gha-yarn-cache@v2
      - run: yarn install
      # TODO: test, typecheck etc
      - run: yarn nx run protocol:build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_MSTABLE_APPS_PROTOCOL }}"
          projectId: mstable-apps-protocol
          entryPoint: apps/protocol
          target: mstable-apps-protocol
          channelId: live
